<div class="login-pg">
  <div class="login-container">
    <%= form_tag '/session', method: 'post' do %>
    <br>
    <input type="text" name="email" placeholder="username" class="login-input1">
    <br>
    <input type="password" name="password" placeholder="password" class="login-input2">
    <br>
    <button class="login-p-btn">Login</button>
    <% end %>
    <br>
    <a href="/" class="back-btn">Back</a>
  </div>
</div>
