<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-home" aria-hidden="true"></i> Car Pool</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/users/new">Sign Up</a><span class="sr-only">(current)</span></a></li>
      </ul>
      <div class="navbar-form navbar-right">
        <div class="form-group">
          <%= form_tag '/session', method: 'post' do %>
            <label class="email" name="email">Email</label>
            <input class="form-control" type="text" name="email" placeholder="Username">
            <label name="password">Password</label>
            <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Login</button>
          <% end %>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" class="thumbnail">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <img src="" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4"></div>
    </div>

  </div>
</div>
