/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*body {
  text-align: center;
  background-image: url("https://ga-core.s3.amazonaws.com/cms/files/files/000/002/549/original/papercraft-27ee990be441ec48fa99a57ccd5f363f.png");
  font-family: 'Space Mono', monospace;
}

#page-wrap {
  width: 800px;
  height: 645px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(69, 90, 100);
  font-family: 'Space Mono', monospace;*/

/*}

section {
  margin-top: 40px
}
h1 {
  font-family: 'Space Mono', monospace;
}

h2 {
  font-family: 'Space Mono', monospace;
}
 .login-pg {
   margin-top: 100px;
 }

 .filter {*/
  /*float: right;
  margin-top: -47px;
  margin-left: 530px;*/
 }

 .return {
  /*float: left;
  margin-top: 32px;
  margin-top: -7px;
  margin-left: 536px;*/
}

 /*.email-login, .password-login {
  width: 122px;
  height: 24px;
  font-size: larger;
  border-radius: 4px;
  border: 1px solid rgba(173, 20, 87, 0.85);
 }

 .password-label {
   font-size: 20px;
 }

 .login-button {
   font-size: 20px;
   color: white;
   width: 81.44px;
   height: 37.6px;
   border: #009688;
   background-color: rgb(229, 27, 36);
   border-radius: 6px;
   float: none;
 }

 .sign-link {
   font-size: 20px;
   color: white;
   padding: 4px;
   border: #009688;
   background-color: rgb(229, 27, 36);
   border-radius: 6px;
   float: none;
 }

 .register {
  background-color: rgba(224, 224, 224, 0.37);
  margin-top: -7px;
 }

input {
  width: 122px;
  height: 24px;
  font-size: larger;
  border-radius: 4px;
  border: 1px solid rgba(173, 20, 87, 0.85);
}
 .fixed-btn {
   width: 148.18px;
   height: 32.6px;
   font-size: 20px;
   color: white;
   border: #009688;
   background-color: rgb(229, 27, 36);
   border-radius: 6px;
 }*/
 /*.back-link {
   margin-left: -160px;
 }*/

 /*================*/
 /*user session* application.html.erb */
/*
 .welcome-user {
   float: left;
   color: black;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 25px;
   margin-top: 32px;
   margin-left: 24px;
 }
 .initial {
   color: red;
 }

 .logout-btn {
   font-size: 20px;
   color: white;
   width: 81.44px;
   height: 37.6px;
   border: #009688;
   background-color: rgb(229, 27, 36);
   border-radius: 6px;
   margin-top: 32px;;
   float: right;
 }

.post-car {
  float: left;
  color: #673AB7;
  text-transform: none;
  text-decoration: none;
}

a {
  font-size: 20px;
  color: white;
  padding: 4px;
  background-color: rgb(229, 27, 36);
  border-radius: 6px;
  float: none;
  text-transform: none;
  text-decoration: none;
}
.get-lift {
  float: left;
  color: black;
  text-transform: none;
  font-weight: 600;
  margin-top: 20px;
}

h1.home-h1 {
  font-weight: normal;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  float: left;
  font-family: 'Space Mono', monospace;
}

.post-info {
  display: inline-grid;
  background-color: white;
  margin-top: 150px;
  background-color: rgba(255, 255, 255, 0.66);
}

a:hover {

}

.container {
   color: brown;
   display: inline-flex;
}

.make-post {
  float: right;
  float: right;
  font-size: 20px;
  color: white;
  background-color: rgb(229, 27, 36);
  border-radius: 6px;
  border: #009688;
  text-decoration: none;
}

 .cancel-post {
   margin-top: -2px;
   border: #009688;
   float: left;
   font-size: 20px;
   color: white;
   padding: 4px;
   background-color: rgb(229, 27, 36);
   border-radius: 6px;

}

.container {
  width: 472px;
  font-weight: 700;
  display: inline-block;
  margin-top: 36px;
  font-size: 18px;
  background-color: rgba(229, 57, 53, 0.78);
  color: white;
}*/

/*Passenger bulletin board*/
/*============================ */

/*.msg_container {
  display: inline-block;
  text-align: left;
  background-color: rgba(229, 57, 53, 0.78);
  color: white;
  margin-top: 36px;
  font-size: 18px;
  border-radius: 5px;
  font-family: 'Space Mono', monospace;
}

.map-container {
  display: inline-block;
  text-align: left;
  background-color: rgba(229, 57, 53, 0.78);
  color: white;
  margin-top: 36px;
  font-size: 18px;
  border-radius: 5px;
  font-family: 'Space Mono', monospace;
}

.back-btn {
  font-size: 20px;
  color: white;
  width: 81.44px;
  height: 37.6px;
  border: #009688;
  background-color: rgb(229, 27, 36);
  border-radius: 6px;
  float: left;
}
.join {
  float:left;
}

.submit {
  font-size: 20px;
  color: white;
  width: 81.44px;
  height: 37.6px;
  border: #009688;
  background-color: rgb(229, 27, 36);
  border-radius: 6px;
}

.passenger-bulletin {
  display: inline-grid;
  text-align: left;
  marging-top: 21px;
  background-color: rgba(229, 57, 53, 0.78);
  color: white;
  margin-top: 36px;
  font-size: 18px;
  border-radius: 5px;
  font-family: 'Space Mono', monospace;
}

.passenger-area {
  display: inline-block;
  text-align: left;
  background-color: rgba(229, 57, 53, 0.78);
  color: white;
  margin-top: 36px;
  font-size: 18px;
  border-radius: 5px;
  font-family: 'Space Mono', monospace;
}
img {
  float: left;
}

.car-edit {
  float: right;
  float: right;
  font-size: 20px;
  color: white;
  background-color: rgb(229, 27, 36);
  border-radius: 6px;
  border: #009688;
  text-decoration: none;
}*/














/*===========*/
