/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  text-align: center;
  background-color: #455A64;
  font-family: 'Space Mono', monospace;
}

#page-wrap {
  /*width: 800px;*/
  height: 645px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(69, 90, 100);
  font-family: 'Space Mono', monospace;

}

section {
  margin-top: 40px
}
h1 {
  font-family: 'Space Mono', monospace;
}

h2 {
  font-family: 'Space Mono', monospace;
}
 .login-pg {
   /*text-align: center;*/
   margin-top: 100px;
 }

 .email {
   font-size: 20px;
 }

 .password-label {
   font-size: 20px;
 }

 .login-button {
   font-size: 20px;
   padding: 0;
 }

 .sign-link {
   font-size: 20px;
   color: black;
 }

 a {
   text-transform: none;
 }

 h1 {
   text-align: center;
 }

 .register {
 }

 .name-md {
   margin-left: -110px;
 }
 .fixed-name {
   margin-left: -119px;
 }

 .short-name {
   margin-left: -149px;
 }
 .phone-name {
   margin-left: -146px;
 }

 .fixed-btn {
   margin-left: -63px
 }
 .back-link {
   margin-left: -160px;
 }

 /*================*/
 /*user session* application.html.erb */

 .welcome-user {
   float: left;
   color: black;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 25px;
   margin-top: 32px;;
   margin-left: 24px;
 }
 .initial {
   color: red;
 }

 .logout-btn {
   float: right;
   font-size: 25px;
   text-transform: uppercase;
   margin-top: 32px;
   margin-right: 23px;
 }

.post-car {
  float: left;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

a {
  text-decoration: none;
  display: inline-block;
  /*margin-top: 160px;
  padding: 4px;*/
}
.get-lift {
  float: left;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
  /*margin-left: 24px;*/
}
/*
.hitch-ride {
   text-align: center;
   float: none;
   position: relative;
   display: inline-flex;
   margin-top: 160px;
   margin-bottom: 0px;
   margin-left: 100px;
}*/

.home-h1 {
  font-weight: normal;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  /*margin-left: px;*/
}

.post-info {
  display: inline-grid;
  background-color: white;
  margin-top: 150px;
  background-color: rgb(69, 90, 100);
}

a:hover {

}

.container {
   color: brown;
   display: inline-flex;
}

.make-post {
  float: right;
}

 .cancel-post {
   color: black;
   border: 10px;
   margin-top: -2px;
   padding: 5px;
   float: left;
}

.container {
  margin-top: 150px;
  display: inline-block;
  background-color: rgba(239, 241, 242, 0.69);
}


/*Passenger bulletin board*/
/*============================ */

.msg_container {
  display: inline-block;
  text-align: left;
  background-color: rgba(150, 130, 130, 0);
  margin-top: 40px;
  float: left;
  margin-left: 0px;
  font-family: 'Space Mono', monospace;
  width: 640px;
}

.filter_suburb {
  display: inline-table;
  margin-top: 106px;
}

.filtering {
  display: inline-table;
  margin-top: 106px;
}

















/*===========*/
