<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-home" aria-hidden="true"></i> Car Pool</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="navbar-form navbar-right">
        <button type="submit" class="btn btn-default"><a href="/" class="back-link">Back</a></button>
      </div>
    </div>
  </div>
</nav>


<div class="container">

  <div class="page-header">
    <h1>Register Your Account Here</h1>
  </div>

  <form class="register" action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <div class="input-group">
      <label class="input-group-addon" name="first_name" id="basic-adon1">First Name</label>
      <input type="text" class="form-control" name="first_name" placeholder="Enter your first name" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
      <label class="input-group-addon" name="last_name" id="basic-adon1">Last Name</label>
      <input type="text" class="form-control" name="last_name" placeholder="Enter your last name" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
      <label class="input-group-addon" name="email" id="basic-adon1">Email</label>
      <input type="text" class="form-control" name="email" placeholder="Enter your e-mail here" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
      <label class="input-group-addon" name="phone" id="basic-adon1">Phone</label>
      <input type="text" class="form-control" name="phone" placeholder="Enter your phone" aria-describedby="basic-addon1">
    </div>

    <br>
    <div class="input-group">
      <label class="input-group-addon" name="company" id="basic-adon1">Company</label>
      <input type="text" class="form-control" name="company" placeholder="Enter your company name" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
      <label class="input-group-addon" name="password" id="basic-adon1">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Enter your password" aria-describedby="basic-addon1">
    </div>
    <br>
    <button>Create Account</button>
  </form>
</div>
