<a href=""></a>


  <% if current_user.passenger == nil && current_user.car == nil %>
  <div class="post-info">
    <h1 class="home-h1">Car Pool</h1>
    <p class="post-car">
      <a href="/cars/new">I have a empty seat</a>
    </p>
    <p class="give-lift">
      <a href="/cars">I need a lift</a>
    </p>
  </div>
  <% elsif current_user.car != nil %>
    <a href="/cars/show/<%= current_user.car.id %>">Carpool Info</a>
  <% else %>
    <a href="/message">List of Cars Available</a>
<% end %>
