<a href=""></a>


<h1>Car Pool</h1>
  <% if current_user.passenger == nil && current_user.car == nil %>
  <p class="post-car">
    <a href="/cars/new">I have a empty seat</a>
  </p>
  <p>
    <a href="/cars">I need a lift</a>
  </p>
  <% elsif current_user.car != nil %>
    <a href="/cars/show/<%= current_user.car.id %>">Carpool Info</a>
  <% else %>
    <a href="/message">List of Cars Available</a>
<% end %>
