<p>filter</p>
<!-- <%= form_tag '/cars/filtering', method: 'post' do %> -->
<form action="/cars/filtering" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Suburb</label>
  <input type="text" name="suburbfilter">
  <button>Find a match!</button>
</form>
<!-- <% end %> -->
