<div class="filter_suburb">
  <h1>Filter Suburbs</h1>
  <form class="filtering" action="/cars/filtering" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Suburb</label><br>
    <input type="text" name="suburbfilter">
    <br>
    <button>Find a match!</button>
  </form>
</div>
