<div class="container">
  <h2>Driver Registration</h2>
  <form action="/cars" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Seats Available</label>
    <br>
    <input type="text" name="seat_number">
    <br>
    <label>Meeting Point</label>
    <br>
    <input type="text" name="meeting_point">
    <br>
    <label>Suburb</label>
    <select name="suburb">
      <option value="Point Cook">Point Cook</option>
      <option value="St Kilda">St Kilda</option>
      <option value="St Kilda">Clayton</option>
      <option value="St Kilda">Murrumbeena</option>
      <option value="St Kilda">Frankston</option>
    </select>
    <br>
    <label>Smoking</label>
      <select name="smoker_friendly">
      <option value="no">No</option>
      <option value="yes">Yes</option>
    </select>
    <br>
    <label>date</label>
    <br>
    <input type="date" name="date" min="2017-10-09" max="2017-10-15">
    <br>
    <label>time</label>
    <br>
    <input type="time" name="time">
    <br>
    <label>Additional Details</label>
    <br>
    <textarea name="description" rows="8" cols="80"></textarea>
    <br>
    <button class="make-post">Post</button>
  </form>
  <button class="cancel-post">
    <a href="/home">Cancel</a>
  </button>
</div>
