

<div class="container">
  <form action="/cars" method="post">
    <h1>Driver Registration</h1>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Seats Available</label>
    <br>
    <input type="text" name="seat_number">
    <br>
    <label>Meeting Point</label>
    <br>
    <input id="geocomplete" type="text" name="meeting_point" onclick="geoInput()">
    <br>
    <label>Smoking</label>
      <select name="smoker_friendly">
      <option value="No">No</option>
      <option value="Yes">Yes</option>
    </select>
    <br>
    <label>date</label>
    <br>
    <input type="date" name="date" min="2017-10-09" max="2017-10-15">
    <br>
    <label>time</label>
    <br>
    <input type="time" name="time">
    <br>
    <label>Additional Details</label>
    <br>
    <textarea name="description" rows="8" cols="80"></textarea>
    <br>
    <button class="make-post">Post</button>
  </form>
  <button class="cancel-post">
    <a href="/home">Cancel</a>
  </button>
</div>
